.section1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction:vertical;
    justify-content: flex-start;
}

.wrapper {
    background: white;
    border-radius: 15px;
    width:25%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section2 {
    text-align: center;
}