language: node_js
node_js:
  - node
cache:
  directories:
    - node_modules
install: 
  - npm install  
  - nvm install node  
  - node -v  
  - npm install --save-dev jest
  - npm install --save-dev @babel/preset-env


branches:
  only:
   - testing

script:  
  - cd server 
  - npm install
  - npm test

after_success:
    - coveralls
    - codecov
    
notifications:
  email:
    recipients: dinesh97@seas.upenn.edu
    on_success: always
    on_failure: always