language: node_js
node_js:
  - node
install: 
  - npm instal  
  - nvm install node  
  - node -v  
  - npm install --save-dev jest  
script:  
  - cd server 
  - npm install
  - npm test
  - cd ../test 
  - npm test
