.dropZoneOverlay,
.FileUpload {
    width: 283px;
    height: 71px;
}

.dropZoneOverlay {
    border: dotted 1px;
    font-family: cursive;
    color: #7066fb;
    position: absolute;
    top: 0px;
    text-align: center;
}

.FileUpload {
    opacity: 0;
    position: relative;
    z-index: 1;
}

.whatIsOn {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.tweet_items {
    overflow: auto;
}

.tweetIpt {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}