
.commentBox {
    margin-left: 300px;
    margin-right: 500px;
    margin-top: 50px;
    border: 0.5px;
    padding: 14px 16px;
    background-color: aliceblue;
    border-radius: 20px;
}


button[type="submit"] {
    background: #4CAF50;
    color: white;
    border: 0.5px;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
}

button[type="submit"]:hover {
    background-color: #178f1d;
}

button[type="button"] {
    background: white;
    color: black;
    border: 0.5px;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
}

button[type="button"]:hover {
    background-color:  rgba(233, 238, 230, 0.938);
}

input[type="text"] {
    padding:12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    width: 100%;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

