.sidebar {
    top: 70;
    left: 0;
    background-color: aliceblue;;
    height: 100%;
    width: 200px;
    position: fixed;
    padding-top: 20px;
    justify-content: center;
}

.nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.nav-text a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    width: 95%;
    height: 100%;
    align-items: center;
    display: flex;
    padding: 0 16px;
    border-radius: 4px;
}

.nav-text a:hover {
    background-color: #20c997;
    color: white;
}

.sidebar-items {
    width: 100%;
}

span {
    margin-left: 16px;
}


