
#container_tweet {
    display: block;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    width: 100%;
}

#tweet_author_picture {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    float: left;
 
}
.tweet_header {
    position: relative;
    height:50px;
}
.tweet_img {
   height: 25px;
   padding-left:4px;
   padding-top: 4px;
   padding-right: 4px;
   float: left;
}
.tweet_text {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.tweet_content {
    margin: auto;
    width: 90%;
    background-color: #eaf1ef;
}
.tweet_bottom {
    display: flex;
    justify-content: center;
    height: 50px;
    width: auto;
}

#menu {
    position: absolute;
    top: 0px;
    right: 15px;
 }

.likes {
   left: 5px;
   margin: auto;
}

.tweet_image {
    height: 400px;
    width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.tweet_video {
    height: 400px;
    width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#viewCommentsBtn {
    color: #0C8367;
}

.comments {
    margin: auto;
}
    



 .tweet_video {
     height: 400px;
     width: 400px;
     text-align: center;
     margin-left: auto;
     margin-right: auto;
     display: block;
 }
