
#container_tweet {
    display: block;
    background: white;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
}

#tweet_author_picture {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    float: left;
 
}
#tweet_header {
    position: relative;
    top: 5px;
    left: 5px;
}
#menu {
    position: absolute;
    top: 0px;
    right: 15px;
 }

.likes {
   position:relative;
   display: inline;
   left: 5px;
}

